body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
}

.countdown {
    text-align: center;
}

#timer {
    font-size: 48px;
    margin-top: 20px;
}

span {
    padding: 0 15px;
}
